In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data
#
url = "https://raw.githubusercontent.com/ddw26/Team-Vand/circle_role_crkaide/output_data/df_values.csv"
catch_df = pd.read_csv(url)
catch_df.head(5)

,Date file created,Month of intercept,Time of intercept,Data sampling period,Sub region of trip,Kind of day,Fish target species,Type of gear,Mode of fishing,Mode of fishing collapsed,Collapsed area of fishing,Distance from shore,Hours on boat,Hours fished,Catch fish,Number of fish avail for inspection
0,2020-03-16,2,1512,January/February,South Atlantic (NC; SC; GA; EFL),Weekday,SPOTTED SEATROUT,hook & line,Charter boat,Charter Boat (sub_reg=6 or 7 & mode_f=7),Inland,not applicable,7.0,6.0,Yes,3
1,2020-03-16,1,1250,January/February,South Atlantic (NC; SC; GA; EFL),Weekend,RED DRUM,hook & line,Charter boat,Charter Boat (sub_reg=6 or 7 & mode_f=7),Inland,not applicable,5.0,4.5,No,0
2,2020-03-16,1,1250,January/February,South Atlantic (NC; SC; GA; EFL),Weekend,RED DRUM,hook & line,Charter boat,Charter Boat (sub_reg=6 or 7 & mode_f=7),Inland,not applicable,5.0,4.5,No,0
3,2020-03-16,2,1303,January/February,South Atlantic (NC; SC; GA; EFL),Weekend,RED DRUM,hook & line,Charter boat,Charter Boat (sub_reg=6 or 7 & mode_f=7),Inland,not applicable,6.0,4.0,No,0
4,2020-03-16,2,1303,January/February,South Atlantic (NC; SC; GA; EFL),Weekend,RED DRUM,hook & line,Charter boat,Charter Boat (sub_reg=6 or 7 & mode_f=7),Inland,not applicable,6.0,4.0,No,0

# Split the Data into Training and Testing

In [6]:
# Create our features
X = catch_df.drop('Date file created', axis=1)
X = catch_df.drop('Catch fish', axis=1)
X = pd.get_dummies(X)

# Create our target
#y = catch_df.drop('Fish target species', axis=1)
y = catch_df['Catch fish']

In [7]:
X.describe()

,Month of intercept,Time of intercept,Hours on boat,Hours fished,Number of fish avail for inspection,Date file created_2018-05-18,Date file created_2018-07-20,Date file created_2018-09-21,Date file created_2018-11-21,Date file created_2019-01-17,...,Mode of fishing_Private/Rental boat,Mode of fishing collapsed_Charter Boat (sub_reg=6 or 7 & mode_f=7),Mode of fishing collapsed_Headboat,Mode of fishing collapsed_Private/Rental Boat,Collapsed area of fishing_Inland,Collapsed area of fishing_Ocean <= 3 mi (all but WFL),Collapsed area of fishing_Ocean > 3 mi (all but WFL),Distance from shore_<= 3 miles (all but WFL),Distance from shore_> 3 miles (all but in WFL),Distance from shore_not applicable
count,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,...,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000
mean,7.485720,1322.732681,6.668421,4.394901,5.044619,0.021593,0.104111,0.057318,0.032612,0.012452,...,0.477369,0.226505,0.296126,0.477369,0.447574,0.255213,0.297213,0.255213,0.297213,0.447574
std,2.098378,307.940640,2.553845,1.839168,11.118904,0.145354,0.305412,0.232455,0.177623,0.110894,...,0.499500,0.418580,0.456559,0.499500,0.497256,0.435992,0.457042,0.435992,0.457042,0.497256
min,1.000000,2.000000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,1202.000000,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.000000,1359.000000,6.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.000000,1532.000000,8.000000,5.500000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,12.000000,2359.000000,30.000000,24.000000,300.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
# Check the balance of our target values
y.value_counts()

Yes    11709
No      8529
Name: Catch fish, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [11]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
random_forest = BalancedRandomForestClassifier (n_estimators = 100)
random_forest = random_forest.fit(X_train, y_train)

In [12]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = random_forest.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9998276456394346

In [13]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[2159,    0],
       [   1, 2900]])

In [15]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

         No       1.00      1.00      1.00      1.00      1.00      1.00      2159
        Yes       1.00      1.00      1.00      1.00      1.00      1.00      2901

avg / total       1.00      1.00      1.00      1.00      1.00      1.00      5060

In [16]:
# List the features sorted in descending order by feature importance
feature_names = X.columns
sorted(zip(random_forest.feature_importances_, feature_names), reverse=True)

[(0.651754137358062, 'Number of fish avail for inspection'),
 (0.046874907139768406, 'Time of intercept'),
 (0.026002639266533307, 'Hours on boat'),
 (0.0249448482253152, 'Hours fished'),
 (0.02237308465934716, 'Mode of fishing_Head boat'),
 (0.016592122940127765, 'Mode of fishing collapsed_Headboat'),
 (0.015855285368946214, 'Sub region of trip_South Atlantic (NC; SC; GA; EFL)'),
 (0.015472762610863998,
  'Sub region of trip_North Atlantic (ME; NH; MA; RI; CT)'),
 (0.013564135986063328, 'Month of intercept'),
 (0.01321007075980177,
  'Mode of fishing collapsed_Charter Boat (sub_reg=6 or 7 & mode_f=7)'),
 (0.012993895929348317, 'Mode of fishing_Charter boat'),
 (0.009554182025275025, 'Fish target species_STRIPED BASS'),
 (0.006860371725984809, 'Date file created_2020-09-22'),
 (0.006480086909471286,
  'Sub region of trip_Mid-Atlantic (NY; NJ; DE; MD; VA)'),
 (0.005931156472383285, 'Mode of fishing collapsed_Private/Rental Boat'),
 (0.005094189790144728, 'Distance from shore_<= 3 miles (all but WFL)'),
 (0.0050191241487016, 'Fish target species_SUMMER FLOUNDER'),
 (0.004962361241489141, 'Kind of day_Weekend'),
 (0.004825006970993002, 'Kind of day_Weekday'),
 (0.004333075372530789, 'Date file created_2018-07-20'),
 (0.004244538764511033, 'Mode of fishing_Private/Rental boat'),
 (0.003998418807744556, 'Fish target species_BLACK SEA BASS'),
 (0.0038515346948820887,
  'Collapsed area of fishing_Ocean <= 3 mi (all but WFL)'),
 (0.0034281721112978635, 'Distance from shore_not applicable'),
 (0.003418249940225342, 'Collapsed area of fishing_Inland'),
 (0.0031982551828446224, 'Fish target species_HADDOCK'),
 (0.003192162317087216, 'Data sampling period_July/August'),
 (0.0030127289826425156, 'Date file created_2020-07-22'),
 (0.0028157062338079178, 'Date file created_2018-09-21'),
 (0.002507439220593297, 'Date file created_2020-11-18'),
 (0.002456043749712665, 'Fish target species_SCUP'),
 (0.0024107455480228113, 'Fish target species_RED DRUM'),
 (0.002386618866692378, 'Fish target species_SPANISH MACKEREL'),
 (0.002379906087281047, 'Data sampling period_May/June'),
 (0.002346324037205833, 'Date file created_2019-07-26'),
 (0.002300727665138392, 'Distance from shore_> 3 miles (all but in WFL)'),
 (0.002128200175667908, 'Fish target species_SPOTTED SEATROUT'),
 (0.002033274243825338,
  'Collapsed area of fishing_Ocean > 3 mi (all but WFL)'),
 (0.0019174619303837064, 'Fish target species_TAUTOG'),
 (0.0017531561347357443, 'Fish target species_ATLANTIC MACKEREL'),
 (0.0016828536247317776, 'Data sampling period_September/October'),
 (0.0016133023738088188, 'Data sampling period_March/April'),
 (0.0015084284036922281, 'Date file created_2019-09-18'),
 (0.001443277203259158, 'Fish target species_DOLPHIN'),
 (0.001357956689348168, 'Data sampling period_November/December'),
 (0.0012729983919827607, 'Date file created_2018-11-21'),
 (0.001211877349758691, 'Fish target species_YELLOWFIN TUNA'),
 (0.0011970621867526342, 'Fish target species_TUNA GENUS'),
 (0.0011256865210983189, 'Fish target species_BLUEFISH'),
 (0.001116392525953318, 'Fish target species_KINGFISH GENUS'),
 (0.0010809520524970202, 'Date file created_2021-01-19'),
 (0.0010321730614237432, 'Fish target species_SHEEPSHEAD'),
 (0.0009658283147688507, 'Fish target species_COBIA'),
 (0.0008398340629535949, 'Date file created_2019-11-15'),
 (0.0008283730985930274, 'Fish target species_BLUEFIN TUNA'),
 (0.0007861173419751661, 'Date file created_2019-05-17'),
 (0.0007711318821895557, 'Fish target species_LEFTEYE FLOUNDER GENUS'),
 (0.0007060883117186962, 'Date file created_2019-01-17'),
 (0.0006729611870048516, 'Date file created_2018-05-18'),
 (0.0006565343828413772, 'Fish target species_SPOT'),
 (0.0006430703085535409, 'Fish target species_ATLANTIC CROAKER'),
 (0.0006220331468921196, 'Fish target species_KING MACKEREL'),
 (0.0005043309089433092, 'Fish target species_WHITE PERCH'),
 (0.00045256516423281993, 'Fish target species_SOUTHERN KINGFISH'),
 (0.00039906973214022475, 'Fish target species_ATLANTIC SPADEFISH'),
 (0.00036304802618622564, 'Fish target species_ATLANTIC COD'),
 (0.00036051646676972304, 'Fish target species_WAHOO'),
 (0.000339153292709682, 'Fish target species_ATLANTIC BONITO'),
 (0.00032440624299689524, 'Fish target species_UNIDENTIFIED (SHARKS)'),
 (0.0003228964454216864, 'Date file created_2020-01-14'),
 (0.00031173315493730503, 'Fish target species_BLACK DRUM'),
 (0.0002946772537085015, 'Date file created_2020-05-19'),
 (0.00026685407138070854, 'Fish target species_WINTER FLOUNDER'),
 (0.00023225494509162832, 'Fish target species_ATLANTIC CUTLASSFISH'),
 (0.0002104538323159933, 'Data sampling period_January/February'),
 (0.00020666960298153646, 'Fish target species_WEAKFISH'),
 (0.00020537664996164278, 'Date file created_2020-03-16'),
 (0.000183992879162639, 'Fish target species_MACKEREL FAMILY'),
 (0.00018229171931075615, 'Type of gear_hook & line'),
 (0.00017752817000827695, 'Fish target species_BLUELINE TILEFISH'),
 (0.0001700612787776187, 'Fish target species_PIGFISH'),
 (0.00016959897566193804, 'Fish target species_POLLOCK'),
 (0.0001586648881615412, 'Type of gear_Spear'),
 (0.0001501199773554387, 'Fish target species_BLUE CATFISH'),
 (0.00013708378600360026, 'Fish target species_UNIDENTIFIED FLOUNDER OR SOLE'),
 (0.000137018279593816, 'Fish target species_LITTLE TUNNY'),
 (0.00012842048499057154, 'Fish target species_GRAY TRIGGERFISH'),
 (0.00012031062180345908, 'Fish target species_RED SNAPPER'),
 (0.00011996125406215039, 'Fish target species_SHORTFIN MAKO'),
 (0.0001172022671749599, 'Fish target species_VERMILION SNAPPER'),
 (0.00011053566427878076, 'Fish target species_LARGEMOUTH BASS'),
 (8.981864500310854e-05, 'Fish target species_SEA BASS FAMILY'),
 (8.702263079751888e-05, 'Fish target species_LEFTEYE FLOUNDER FAMILY'),
 (8.399242124359413e-05, 'Fish target species_ATLANTIC MENHADEN'),
 (7.839616441439424e-05, 'Fish target species_RED HAKE'),
 (7.804246152655323e-05, 'Fish target species_BLUE MARLIN'),
 (7.679927354057608e-05, 'Fish target species_NORTHERN PUFFER'),
 (7.552793207116753e-05, 'Fish target species_GROUPER GENUS (EPINEPHELUS)'),
 (6.961918259699374e-05, 'Fish target species_ATLANTIC TARPON'),
 (6.890224970976603e-05, 'Fish target species_SEATROUT GENUS'),
 (6.371345744813333e-05, 'Fish target species_BIGEYE TUNA'),
 (4.971637193204875e-05, 'Fish target species_DRUM FAMILY'),
 (4.7154903237692413e-05, 'Fish target species_SILVER HAKE'),
 (4.599378154595403e-05, 'Fish target species_UNIDENTIFIED CATFISHES'),
 (4.4103037711666094e-05, 'Fish target species_NORTHERN SNAKEHEAD'),
 (4.3585118213929785e-05, 'Fish target species_ACADIAN REDFISH'),
 (3.9407443310097585e-05, 'Fish target species_BILLFISH FAMILY'),
 (3.0930897828819785e-05, 'Fish target species_TILEFISH'),
 (3.013083590806462e-05, 'Fish target species_GAG'),
 (2.5850329519180156e-05, 'Fish target species_BLUE SHARK'),
 (2.4052832126629486e-05, 'Fish target species_CHANNEL CATFISH'),
 (2.3668958880234187e-05, 'Fish target species_CRAPPIE GENUS'),
 (2.351345732031149e-05, 'Fish target species_THRESHER SHARK'),
 (2.2726242779647198e-05, 'Fish target species_TROUT FAMILY'),
 (2.111722456433455e-05, 'Fish target species_ALBACORE'),
 (2.1112809611117626e-05, 'Fish target species_MENHADEN GENUS'),
 (1.938927902103585e-05, 'Fish target species_GREAT BARRACUDA'),
 (1.7938680120857494e-05, 'Fish target species_GREATER AMBERJACK'),
 (1.668528825977172e-05, 'Fish target species_BLACK CRAPPIE'),
 (1.61354963333524e-05, 'Fish target species_STRIPED SEAROBIN'),
 (1.563962334976746e-05, 'Fish target species_SAILFISH'),
 (1.5531323443704902e-05, 'Fish target species_PORGY FAMILY'),
 (1.5333996688797037e-05, 'Type of gear_Trawl'),
 (1.5096878223751492e-05, 'Fish target species_GROUPER GENUS (MYCTEROPERCA)'),
 (1.2207383295501746e-05, 'Fish target species_WHITE MARLIN'),
 (1.1897153484499093e-05, 'Type of gear_Trap'),
 (1.0565664980626246e-05, 'Fish target species_MACKEREL GENUS'),
 (9.925764636981979e-06, 'Fish target species_WHITE CRAPPIE'),
 (8.083595563835724e-06, 'Fish target species_TARPON FAMILY'),
 (7.652862346179181e-06, 'Fish target species_WHITE HAKE'),
 (7.2894183792757904e-06, 'Fish target species_HAKE GENUS'),
 (6.575749285693962e-06, 'Fish target species_YELLOW PERCH'),
 (5.85917737573064e-06, 'Fish target species_BIGEYE'),
 (5.768287915624646e-06, 'Fish target species_SOUTHERN FLOUNDER'),
 (5.177834918341205e-06, 'Fish target species_FLORIDA POMPANO'),
 (5.070609171618118e-06, 'Fish target species_SMOOTH DOGFISH'),
 (4.904440435245364e-06, 'Fish target species_SPOTTAIL PINFISH'),
 (4.688126928737017e-06, 'Fish target species_CHUB MACKEREL'),
 (3.657045073748296e-06, 'Fish target species_ATLANTIC THREAD HERRING'),
 (2.9547704571955523e-06, 'Type of gear_Hand'),
 (2.8643517403404813e-06, 'Fish target species_SANDBAR SHARK'),
 (2.651385367367639e-06, 'Fish target species_NORTHERN KINGFISH'),
 (2.5501846054241557e-06, 'Type of gear_Gill net'),
 (2.211541290636941e-06, 'Fish target species_CUSK'),
 (2.1463440733020306e-06, 'Fish target species_SPINY DOGFISH'),
 (1.9988667854526313e-06, 'Fish target species_BONNETHEAD'),
 (1.9827757023644356e-06, 'Fish target species_SNAPPER FAMILY'),
 (1.8656938376873113e-06, 'Type of gear_Seine'),
 (1.3442153960074896e-06, 'Fish target species_BLACKFIN TUNA'),
 (1.1194499868533165e-06, 'Fish target species_ROCK SEA BASS'),
 (1.065521595697429e-06, 'Fish target species_ATLANTIC HALIBUT'),
 (2.651877836209883e-07, 'Fish target species_AFRICAN POMPANO'),
 (1.6931592936332828e-07, 'Fish target species_HAMMERHEAD SHARK GENUS'),
 (0.0, 'Type of gear_cast net'),
 (0.0, 'Fish target species_SWORDFISH'),
 (0.0, 'Fish target species_SEA BASS GENUS'),
 (0.0, 'Fish target species_PORBEAGLE'),
 (0.0, 'Fish target species_PINFISH'),
 (0.0, 'Fish target species_GRAY FLOUNDER'),
 (0.0, 'Fish target species_DOGFISH SHARK'),
 (0.0, 'Fish target species_CREVALLE JACK'),
 (0.0, 'Fish target species_BLACKTIP SHARK')]

### Easy Ensemble AdaBoost Classifier

In [17]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
easy = EasyEnsembleClassifier(n_estimators = 100,random_state=1)
easy = easy.fit(X_train, y_train)

In [18]:
# Calculated the balanced accuracy score
y_pred = easy.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

1.0

In [19]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[2159,    0],
       [   0, 2901]])

In [20]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

         No       1.00      1.00      1.00      1.00      1.00      1.00      2159
        Yes       1.00      1.00      1.00      1.00      1.00      1.00      2901

avg / total       1.00      1.00      1.00      1.00      1.00      1.00      5060