# Fish

In [44]:
# Initial imports
import pandas as pd
import hvplot.pandas
from path import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

### Deliverable 1: Preprocessing the Data for PCA

In [45]:
# Load the crypto_data.csv dataset.
url = "https://raw.githubusercontent.com/ddw26/Team-Vand/circle_role_crkaide/output_data/df_keys.csv"
catch_df = pd.read_csv(url)
catch_df.head(5)

,Date file created,Month of intercept,Time of intercept,Data sampling period,Sub region of trip,Kind of day,Fish target species,Type of gear,Mode of fishing,Mode of fishing collapsed,Collapsed area of fishing,Distance from shore,Hours on boat,Hours fished,Catch fish,Number of fish avail for inspection
0,2020-03-16,2,1512,1,6,wd,SPOTTED SEATROUT,1,7,5,5,8,7.0,6.0,1,3
1,2020-03-16,1,1250,1,6,we,RED DRUM,1,7,5,5,8,5.0,4.5,2,0
2,2020-03-16,1,1250,1,6,we,RED DRUM,1,7,5,5,8,5.0,4.5,2,0
3,2020-03-16,2,1303,1,6,we,RED DRUM,1,7,5,5,8,6.0,4.0,2,0
4,2020-03-16,2,1303,1,6,we,RED DRUM,1,7,5,5,8,6.0,4.0,2,0

In [46]:
# Create a new DataFrame that holds only the fish available names.
FishAvail = catch_df.filter(['Number of fish avail for inspection'], axis=1)
FishAvail

       Number of fish avail for inspection
0                                        3
1                                        0
2                                        0
3                                        0
4                                        0
...                                    ...
20233                                    8
20234                                    4
20235                                    1
20236                                    3
20237                                    3

[20238 rows x 1 columns]

In [47]:
# Drop the 'catch fish column thing' column since it's not going to be used on the clustering algorithm.
catch_df = catch_df.drop('Number of fish avail for inspection', axis=1)
catch_df

,Date file created,Month of intercept,Time of intercept,Data sampling period,Sub region of trip,Kind of day,Fish target species,Type of gear,Mode of fishing,Mode of fishing collapsed,Collapsed area of fishing,Distance from shore,Hours on boat,Hours fished,Catch fish
0,2020-03-16,2,1512,1,6,wd,SPOTTED SEATROUT,1,7,5,5,8,7.0,6.0,1
1,2020-03-16,1,1250,1,6,we,RED DRUM,1,7,5,5,8,5.0,4.5,2
2,2020-03-16,1,1250,1,6,we,RED DRUM,1,7,5,5,8,5.0,4.5,2
3,2020-03-16,2,1303,1,6,we,RED DRUM,1,7,5,5,8,6.0,4.0,2
4,2020-03-16,2,1303,1,6,we,RED DRUM,1,7,5,5,8,6.0,4.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20233,2021-01-19,12,1149,6,6,we,RED DRUM,1,8,7,5,8,4.5,4.5,1
20234,2021-01-19,12,1211,6,6,we,SPOTTED SEATROUT,1,8,7,5,8,2.5,2.0,1
20235,2021-01-19,12,1303,6,6,we,SPOTTED SEATROUT,1,8,7,5,8,5.0,5.0,1
20236,2021-01-19,12,1450,6,6,we,SPOTTED SEATROUT,1,8,7,5,8,6.0,2.0,1
20237,2021-01-19,12,1519,6,6,we,SPOTTED SEATROUT,1,8,7,5,8,5.0,5.0,1

In [51]:
# Use get_dummies() to create variables for text features.
catch = pd.get_dummies("Number of fish avail for inspection")
dummy = pd.get_dummies("Hours on boat","Kind of day","Fish target species")
combined = pd.concat([catch,dummy],axis=1)
df = catch_df.merge(combined,left_index = True,right_index = True)
df = df.drop('Number of fish avail for inspection',axis = 1)
df2 = df.drop("Kind of day",axis = 1)
df3 = df2.drop("Fish target species", axis=1)
df3

,Date file created,Month of intercept,Time of intercept,Data sampling period,Sub region of trip,Type of gear,Mode of fishing,Mode of fishing collapsed,Collapsed area of fishing,Distance from shore,Hours on boat,Hours fished,Catch fish,Kind of dayFish target speciesHours on boat
0,2020-03-16,2,1512,1,6,1,7,5,5,8,7.0,6.0,1,1

In [52]:
#drop date
df3 = df3.drop('Date file created', axis=1)
df3

,Month of intercept,Time of intercept,Data sampling period,Sub region of trip,Type of gear,Mode of fishing,Mode of fishing collapsed,Collapsed area of fishing,Distance from shore,Hours on boat,Hours fished,Catch fish,Kind of dayFish target speciesHours on boat
0,2,1512,1,6,1,7,5,5,8,7.0,6.0,1,1

In [53]:
# Standardize the data with StandardScaler().
df_scaled = StandardScaler().fit_transform(df3)
print(df_scaled)

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

### Deliverable 2: Reducing Data Dimensions Using PCA

In [57]:
# Using PCA to reduce dimension to three principal components. - convert numpy to pandas
pca = PCA(n_components=1)
df_pca = pca.fit_transform(df_scaled)
#df_pca

/Users/cjreinhardt/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/decomposition/_pca.py:468: RuntimeWarning: invalid value encountered in true_divide
  explained_variance_ = (S ** 2) / (n_samples - 1)

In [60]:
df_pca.dtypes

AttributeError: 'numpy.ndarray' object has no attribute 'dtypes'

In [59]:
# Create a DataFrame with the three principal components.
#pcs_df = pd.DataFrame(data = df_pca, columns = ["PC1"], index = catch_df.index)
#pcs_df.dtypes

ValueError: Shape of passed values is (1, 1), indices imply (20238, 1)

### Deliverable 3: Clustering Crytocurrencies Using K-Means

#### Finding the Best Value for `k` Using the Elbow Curve

In [ ]:
# Create an elbow curve to find the best value for K.
inertia = []
k = list(range(1,11))

#loop and calculate inertia for range
for i in k:
    km = KMeans(n_clusters=i, random_state=0)
    km.fit(pcs_df)
    inertia.append(km.inertia_)
    
elbow_data = {"k":k, "inertia":inertia}
df_elbow = pd.DataFrame(elbow_data)
df_elbow.hvplot.line(x="k",y="inertia", xticks=k,title="Elbow Curve")

Running K-Means with `k=4`

In [ ]:
# Initialize the K-Means model.
model = KMeans(n_clusters=4, random_state=0)

# Fit the model
model.fit(pcs_df)

# Predict clusters
predictions = model.predict(pcs_df)

In [ ]:
# Create a new DataFrame including predicted clusters and cryptocurrencies features.
# Concatentate the crypto_df and pcs_df DataFrames on the same columns.
clustered_df = pd.concat([crypto_df,pcs_df],axis=1)

#  Add a new column, "CoinName" to the clustered_df DataFrame that holds the names of the cryptocurrencies. 
clustered_df['CoinName'] = names['CoinName']

#  Add a new column, "Class" to the clustered_df DataFrame that holds the predictions.
clustered_df['Class']=model.labels_

# Print the shape of the clustered_df
print(clustered_df.shape)
clustered_df.head(10)

### Deliverable 4: Visualizing Cryptocurrencies Results

#### 3D-Scatter with Clusters

In [ ]:
# Creating a 3D-Scatter with the PCA data and the clusters
fig = px.scatter_3d(
    clustered_df,
    hover_name='CoinName',
    hover_data=['Algorithm'],
    x='PC1',
    y='PC2',
    z='PC3',
    color='Class',
    symbol='Class',
    width=800,
)
fig.update_layout(legend=dict(x=0, y=1))
fig.show()

In [ ]:
# Create a table with tradable cryptocurrencies.
clustered_df.hvplot.table(sortable=True, selectable=True)

In [ ]:
# Print the total number of tradable cryptocurrencies.
print(clustered_df.count)

In [ ]:
# Scaling data to create the scatter plot with tradable cryptocurrencies.
scaled_data = MinMaxScaler().fit_transform(clustered_df[['TotalCoinSupply','TotalCoinsMined']])
print(scaled_data)

In [ ]:
# Create a new DataFrame that has the scaled data with the clustered_df DataFrame index.
scaled_df = pd.DataFrame(
    data = scaled_data,columns = ['TotalCoinSupply','TotalCoinsMined'],
index = clustered_df.index
)

# Add the "CoinName" column from the clustered_df DataFrame to the new DataFrame.
scaled_df = pd.concat([scaled_df,clustered_df['CoinName']],axis=1)
# Add the "Class" column from the clustered_df DataFrame to the new DataFrame. 
plot_df = pd.concat([scaled_df,clustered_df["Class"]],axis=1)

plot_df.head(10)

In [ ]:
# Create a hvplot.scatter plot using x="TotalCoinsMined" and y="TotalCoinSupply".
plot_df.hvplot.scatter(x="TotalCoinsMined", y="TotalCoinSupply", by="Class",hover_cols = ["CoinName"])