# Using Resampling Methods

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from imblearn.over_sampling import RandomOverSampler

# Read the CSV and Perform Basic Data Cleaning

In [18]:
# Load the data
#url = "https://raw.githubusercontent.com/ddw26/Team-Vand/circle_role_crkaide/output_data/df_keys.csv"
url = 'https://raw.githubusercontent.com/ddw26/Team-Vand/circle_role_crkaide/output_data/df_values.csv'
catch_df = pd.read_csv(url)

# Drop the null columns where all values are null
catch_df.columns

Index(['Date file created', 'Month of intercept', 'Time of intercept',
       'Data sampling period', 'Sub region of trip', 'Kind of day',
       'Fish target species', 'Type of gear', 'Mode of fishing',
       'Mode of fishing collapsed', 'Collapsed area of fishing',
       'Distance from shore', 'Hours on boat', 'Hours fished', 'Catch fish',
       'Number of fish avail for inspection'],
      dtype='object')

In [23]:
catch_df.head()

,Month of intercept,Time of intercept,Data sampling period,Sub region of trip,Kind of day,Type of gear,Mode of fishing,Mode of fishing collapsed,Collapsed area of fishing,Distance from shore,Hours on boat,Hours fished,Catch fish,Number of fish avail for inspection
0,2,1512,January/February,South Atlantic (NC; SC; GA; EFL),Weekday,hook & line,Charter boat,Charter Boat (sub_reg=6 or 7 & mode_f=7),Inland,not applicable,7.0,6.0,Yes,3
1,1,1250,January/February,South Atlantic (NC; SC; GA; EFL),Weekend,hook & line,Charter boat,Charter Boat (sub_reg=6 or 7 & mode_f=7),Inland,not applicable,5.0,4.5,No,0
2,1,1250,January/February,South Atlantic (NC; SC; GA; EFL),Weekend,hook & line,Charter boat,Charter Boat (sub_reg=6 or 7 & mode_f=7),Inland,not applicable,5.0,4.5,No,0
3,2,1303,January/February,South Atlantic (NC; SC; GA; EFL),Weekend,hook & line,Charter boat,Charter Boat (sub_reg=6 or 7 & mode_f=7),Inland,not applicable,6.0,4.0,No,0
4,2,1303,January/February,South Atlantic (NC; SC; GA; EFL),Weekend,hook & line,Charter boat,Charter Boat (sub_reg=6 or 7 & mode_f=7),Inland,not applicable,6.0,4.0,No,0

In [24]:
#drop unsuasble data
#catch_df = catch_df.drop(['Date file created','Fish target species'],axis=1)

KeyError: "['Date file created' 'Fish target species'] not found in axis"

# Split the Data into Training and Testing

In [25]:
# Create our features
X = catch_df.drop('Catch fish', axis=1)

X = pd.get_dummies(X)

# Create our target
y = catch_df['Catch fish']

In [26]:
X.describe()

,Month of intercept,Time of intercept,Hours on boat,Hours fished,Number of fish avail for inspection,Data sampling period_January/February,Data sampling period_July/August,Data sampling period_March/April,Data sampling period_May/June,Data sampling period_November/December,...,Mode of fishing_Private/Rental boat,Mode of fishing collapsed_Charter Boat (sub_reg=6 or 7 & mode_f=7),Mode of fishing collapsed_Headboat,Mode of fishing collapsed_Private/Rental Boat,Collapsed area of fishing_Inland,Collapsed area of fishing_Ocean <= 3 mi (all but WFL),Collapsed area of fishing_Ocean > 3 mi (all but WFL),Distance from shore_<= 3 miles (all but WFL),Distance from shore_> 3 miles (all but in WFL),Distance from shore_not applicable
count,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.00000,...,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000,20238.000000
mean,7.485720,1322.732681,6.668421,4.394901,5.044619,0.005584,0.331999,0.048720,0.297806,0.09660,...,0.477369,0.226505,0.296126,0.477369,0.447574,0.255213,0.297213,0.255213,0.297213,0.447574
std,2.098378,307.940640,2.553845,1.839168,11.118904,0.074516,0.470942,0.215288,0.457305,0.29542,...,0.499500,0.418580,0.456559,0.499500,0.497256,0.435992,0.457042,0.435992,0.457042,0.497256
min,1.000000,2.000000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,1202.000000,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.000000,1359.000000,6.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.000000,1532.000000,8.000000,5.500000,5.000000,0.000000,1.000000,0.000000,1.000000,0.00000,...,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,12.000000,2359.000000,30.000000,24.000000,300.000000,1.000000,1.000000,1.000000,1.000000,1.00000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [27]:
# Check the balance of our target values
y.value_counts()

Yes    11709
No      8529
Name: Catch fish, dtype: int64

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train

,Month of intercept,Time of intercept,Hours on boat,Hours fished,Number of fish avail for inspection,Data sampling period_January/February,Data sampling period_July/August,Data sampling period_March/April,Data sampling period_May/June,Data sampling period_November/December,...,Mode of fishing_Private/Rental boat,Mode of fishing collapsed_Charter Boat (sub_reg=6 or 7 & mode_f=7),Mode of fishing collapsed_Headboat,Mode of fishing collapsed_Private/Rental Boat,Collapsed area of fishing_Inland,Collapsed area of fishing_Ocean <= 3 mi (all but WFL),Collapsed area of fishing_Ocean > 3 mi (all but WFL),Distance from shore_<= 3 miles (all but WFL),Distance from shore_> 3 miles (all but in WFL),Distance from shore_not applicable
8253,7,1312,7.5,3.0,19,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,1
7008,5,1417,7.0,3.0,1,0,0,0,1,0,...,1,0,0,1,0,0,1,0,1,0
18653,11,1531,8.0,5.0,1,0,0,0,0,1,...,1,0,0,1,1,0,0,0,0,1
12022,8,1622,4.5,3.0,0,0,1,0,0,0,...,0,1,0,0,0,1,0,1,0,0
5265,6,1220,5.0,4.0,0,0,0,0,1,0,...,1,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10955,7,1609,5.0,4.0,1,0,1,0,0,0,...,1,0,0,1,1,0,0,0,0,1
17289,9,815,7.0,2.5,8,0,0,0,0,0,...,0,0,1,0,0,0,1,0,1,0
5192,6,1524,5.0,3.5,0,0,0,0,1,0,...,0,1,0,0,0,1,0,1,0,0
12172,7,1330,6.0,4.5,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,1
235,4,634,12.0,7.0,12,0,0,1,0,0,...,0,0,1,0,0,0,1,0,1,0

# Oversampling

In this section, you will compare two oversampling algorithms to determine which algorithm results in the best performance. You will oversample the data using the naive random oversampling algorithm and the SMOTE algorithm. For each algorithm, be sure to complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

### Naive Random Oversampling

In [29]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'Yes': 8753, 'No': 8753})

In [30]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [31]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

1.0

In [32]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[2104,    0],
       [   0, 2956]])

In [33]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

         No       1.00      1.00      1.00      1.00      1.00      1.00      2104
        Yes       1.00      1.00      1.00      1.00      1.00      1.00      2956

avg / total       1.00      1.00      1.00      1.00      1.00      1.00      5060

# Undersampling

In this section, you will test an undersampling algorithms to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [34]:
# Resample the data using the ClusterCentroids resampler
# Warning: This is a large dataset, and this step may take some time to complete
from collections import Counter
from imblearn.under_sampling import ClusterCentroids
cc = ClusterCentroids(random_state=1)
X_resampled, y_resampled = cc.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'No': 6425, 'Yes': 6425})

In [35]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [36]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

1.0

In [37]:
# Display the confusion matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[2104,    0],
       [   0, 2956]])

In [38]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

         No       1.00      1.00      1.00      1.00      1.00      1.00      2104
        Yes       1.00      1.00      1.00      1.00      1.00      1.00      2956

avg / total       1.00      1.00      1.00      1.00      1.00      1.00      5060

# Combination (Over and Under) Sampling

In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [39]:
# Resample the training data with SMOTEENN
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(X, y)
Counter(y_resampled)

Counter({'No': 9907, 'Yes': 8854})

In [40]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [41]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

1.0

In [42]:
# Display the confusion matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[2104,    0],
       [   0, 2956]])

In [43]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

         No       1.00      1.00      1.00      1.00      1.00      1.00      2104
        Yes       1.00      1.00      1.00      1.00      1.00      1.00      2956

avg / total       1.00      1.00      1.00      1.00      1.00      1.00      5060